.p8_menu_button {
  opacity: 0.3;
  padding: 4px;
  display: flex;
  width: 24px;
  height: 24px;
  float: right;
}

@media screen and (min-width: 512px) {
  .p8_menu_button {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-bottom: 18px;

    img {
      width: 32px !important;
      height: 32px !important;
    }
  }
}
.p8_menu_button:hover {
  opacity: 1;
  cursor: pointer;
}

canvas {
  flex-shrink: 0;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  border: 0px;
  cursor: none;
}

.p8_start_button {
  pointer-events: none;
}

.button_gfx {
  stroke-width: 2;
  stroke: #ffffff;
  stroke-opacity: 0.4;
  fill-opacity: 0.2;
  fill: black;
}

.button_gfx_icon {
  stroke-width: 3;
  stroke: #909090;
  stroke-opacity: 0.7;
  fill: none;
}

.p8-style-body {
  padding: 0px;
  margin: 0px;
  background-color: #222;
  color: #ccc;
}

.p8-style-p8_frame_0-2 {
  max-width: 800px;
  max-height: 800px;
  margin: auto;
}

.p8-style-p8_frame {
  display: flex;
  width: 100%;
  max-width: 95vw;
  height: 100vw;
  max-height: 95vh;
  margin: auto;
}

.p8-style-p8_menu_buttons_touch-4 {
  position: absolute;
  width: 100%;
  z-index: 10;
  left: 0px;
}

.p8-style-p8b_full-5 {
  float: left;
  margin-left: 10px;
}

.p8-style-p8b_sound-6 {
  float: left;
  margin-left: 10px;
}

.p8-style-p8b_close-7 {
  float: right;
  margin-right: 10px;
}

.p8-style-p8_container-8 {
  margin: auto;
  display: flex;
  flex-shrink: 0;
}

.p8-style-p8_start_button-9 {
  width: 100%;
  height: 100%;
  display: flex;
}

.p8-style-img-10 {
  margin: auto;
}

.p8-style-p8_playarea-11 {
  display: none;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.p8-style-touch_controls_background-12 {
  pointer-events: none;
  display: none;
  background-color: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 0;
  width: 100vw;
  height: 100vh;
}

.p8-style-div-13 {
  display: flex;
  position: relative;
}

.p8-style-p8_menu_buttons-14 {
  margin-left: 10px;
  width: 38px;
  flex-shrink: 0;
}

.p8-style-p8b_controls-15 {
  position: absolute;
  bottom: 170px;
}

.p8-style-p8b_pause-16 {
  position: absolute;
  bottom: 120px;
}

.p8-style-p8b_sound-17 {
  position: absolute;
  bottom: 70px;
}

.p8-style-p8b_full-18 {
  position: absolute;
  bottom: 20px;
}

.p8-style-touch_controls_gfx-19 {
  pointer-events: none;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 0;
  width: 100vw;
  height: 100vh;
}

.p8-style-controls_right_panel-20 {
  position: absolute;
  opacity: 0.5;
}

.p8-style-controls_left_panel-21 {
  position: absolute;
  opacity: 0.5;
}

.p8-style-codo_textarea-22 {
  display: none;
  position: absolute;
  left: -9999px;
  height: 0px;
  overflow: hidden;
}
